<div class="content" fit-screen [minheight]="800">
    <div class="status">
        <div class="char">

        </div>
        <div class="infos">
            <div class="title">Paul BOUSSEKEY / Fullstack Developer / Lvl.{{ level }}</div>
            <div class="xp">
                <div class="xp-bar" [ngStyle]="{ 'width' : exp + '%' }">

                </div>
            </div>
        </div>
    </div>
    <div class="cv">
        <div  class="selected-category" >

            <div class="categories">
                <button *ngFor="let cat of cv; let index = index" class="category {{ cat.icon }}"
                [ngClass]="{ selected : index === selected }" (click)="selected = index; category = cv[index] " >

                </button>
                <div class="category-title">
                  {{ category.title }}
                </div>
            </div>
            <div class="skill" *ngFor="let skill of category.skills" [ngClass]="{ disabled : skill.points === 0, current : skill.current }">
                <div class="logo {{ skill.logo || skill.text ? '' : (skill.icon || category.icon) }}"
                    [ngStyle]="{ 'background-image': skill.logo ? 'url(../assets/images/' + skill.logo + ')' : ''}">
                    {{ skill.text }}
                </div>
                <div class="pts">{{ skill.points }}</div>
                <div class="label" *ngIf="!skill.link || index !== 0">
                    <b>{{ skill.title }}</b>

                </div>
                <div class="tooltip">
                  <div class="tooltip-content">
                    <div class="infos">{{ skill.infos }}</div>
                    <div class="details" *ngIf="skill.details">{{ skill.details }} </div>
                    <div class="tags">
                        <span *ngFor="let tag of skill.tags">#{{tag}}</span>
                    </div>
                  </div>
                </div>
            </div>
        </div>

    </div>
</div>
