<div class="content" fit-screen [minheight]="600">
  <div class="selection"  (mouseenter) ="pauseCarousel()"  (mouseleave) ="resumeCarousel()">
    <div *ngIf="selected" class="selected-image"
      [ngStyle]="{ 'background-image': selected.image ? 'url(../assets/images/' + selected.image + ')' : ''}">

      </div>
      <div  class="selected-details">
            <b class="selected-title">{{ selected.title }}</b>
            <div class="selected-desc">{{ selected.description }}</div>
            <div class="selected-tags">
                  <span *ngFor="let tag of selected.tags">#{{tag}}</span>
            </div>
      </div>
      <a class="selected-link" href="{{ selected.url }}" target="_blank"> </a>
  </div>
  <div class="projects">

        <div *ngFor="let project of projects" class="project"
            [ngClass]="{ selected : project === selected, disabled : project.disabled }"
            (click)="!project.disabled && (selectProject(project))"  >
            <div  class="selected"></div>
        </div>
  </div>
  <div class="char">
      <div class="bubble" id="bubble1"></div>
      <div class="bubble" id="bubble2"></div>
      <div class="bubble" id="bubble3"></div>
      <div class="bubble" id="bubble4"></div>
  </div>
</div>
