<div class="content" fit-screen [minheight]="600">
     <div class="box-column" [ngClass]="{ opened : selected === 0 }">
        <div class="box" (click)="select(0)">@
            <a class="box-content" href="mailto://contact@paul-boussekey.com">
            contact@paul-boussekey.com
            </a>
         </div>

    </div>
     <div class="box-column"  [ngClass]="{ opened : selected === 1 }">
          <div class="box  i i-linkedin" (click)="select(1)">
            <a class="box-content" href="https://www.linkedin.com/in/paulboussekey" target="_blank">
                https://www.linkedin.com/in/paulboussekey
            </a>
         </div>
    </div>
     <div class="box-column" [ngClass]="{ opened : selected === 2 }">
        <div class="box i i-github" (click)="select(2)">
            <a class="box-content" href="https://github.com/pboussekey" target="_blank">
                https://github.com/pboussekey
            </a>
         </div>
    </div>
    <div class="char" [ngClass]="{ fixed : !animated }" [ngStyle]="{ 'left' : left, transform : 'scaleX(' + scale +')' }"></div>
</div>
